* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
}

.header {
  background-color: #ffea00;
}

.container {
  width: 900px;
  margin: auto;
  padding: 0 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 10px 0;
}

.text__rus,
.text__eng {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

/* Start page styles */

.main__content--start-page {
  text-align: center;
  /* padding-top: 55px; */
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.start-page__content-wrap {
  width: 100%;
  padding-top: 20px;
}

.game__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.game__desc-lower {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 50px;
}

.game__start {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 70px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}

.game__start:hover {
  transform: scale(1.2);
}

.game__images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.game-image {
  transition: 0.3s;
}

.game-image:hover {
  transform: scale(1.2) rotate(-15deg);
}

.game-image--rock,
.game-image--paper {
  height: 150px;
  margin-top: 30px;
}

.game-image-name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.footer {
  text-align: center;
  min-height: 50px;
  height: 5vh;
  background-color: #ffea00;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.credits-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 50px;
  color: #000;
}

/* Game Page styles */

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  margin: 0 auto;
}

.main__contant--game-page {
  display: none;
  text-align: center;
  padding-top: 20px;
  height: 90vh;
  padding-bottom: 50px;
}

.game__counter {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  margin-bottom: 40px;
}

.game__variant-image {
  height: 100px;
}

.game__variants {
  display: flex;
  justify-content: space-between;
}

.game__variant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 305px;
}

.variant--text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

.images__wrap {
  position: relative;
  width: 214px;
  height: 245px;
}

.game__variant-image {
  height: 81px;
  position: absolute;
}

.game__variant-image--paper {
  bottom: 0;
  left: 0;
}

.game__variant-image--scissors {
  top: 0;
  left: 0;
}

.game__variant-image--rock {
  right: 0;
  top: 35%;
}

.game__variant-image--computer {
  transition: 0.4s;
}

.game__variant-image--paper-computer {
  right: 0;
  bottom: 0;
}

.game__variant-image--scissors-computer {
  right: 0;
  top: 0;
}

.game__variant-image--rock-computer {
  left: 0;
  top: 35%;
  height: 74px;
}

.game__variant-image-you {
  transition: 0.4s;
}

.game__variant-image-you:hover {
  transform: scale(1.4);
}

.result {
  min-height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

.wait-animation {
  animation: rockAnimation 1s alternate infinite;
}

.game-await {
  height: 95px;
  position: absolute;
  top: 35%;
  right: -150px;
}

.game-await--computer {
  left: -150px;
  height: 85px;
}

.active {
  display: flex;
}

@keyframes rockAnimation {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

@media (max-height: 860px) {
  .images__wrap {
    height: 150px;
    width: 100%;
  }
  .game__variant {
    height: 200px;
    width: 120px;
  }
  .game__variant-image {
    height: 62px;
  }
  .game__variant-image--rock-computer {
    height: 54px;
  }
}

@media (max-height: 720px) {
  .images__wrap {
    height: 100px;
  }
  .game__variant {
    height: 150px;
  }
  .game__variant-image {
    height: 42px;
  }
  .game__variant-image--rock-computer {
    height: 34px;
  }
  .game-await {
    top: -150px;
  }
}

@media (max-width: 920px) {
  .container {
    width: 700px;
  }
  .game-await {
    top: -150px;
    right: 30px;
  }
  .game-await--computer {
    left: 30px;
  }
  .wrapper {
    width: 550px;
  }
}

@media (max-width: 710px) {
  .container {
    width: 500px;
  }
  .header__content {
    flex-direction: column;
  }
  .game__variant {
    height: 210px;
  }
  .images__wrap {
    width: 150px;
    height: 170px;
  }
  .game__variant-image {
    height: 62px;
  }
  .game__variant-image--rock-computer {
    height: 54px;
  }
}

@media (max-width: 510px) {
  .container {
    width: 340px;
  }
  .game__counter {
    font-size: 46px;
  }
  .variant--text {
    font-size: 22px;
  }
  .result {
    font-size: 22px;
  }
  .game__variant-image {
    height: 50px;
  }
  .game__variant-image--rock-computer {
    height: 42px;
  }
  .images__wrap {
    width: 100px;
  }
}
@media (max-width: 330px) {
  .container {
    width: 310px;
  }
  .text__rus,
  .text__eng {
    font-size: 14px;
  }
  .game__counter {
    font-size: 36px;
  }
  .game__variant {
    height: 110px;
  }
  .game-await {
    top: -110px;
    height: 72px;
  }
  .game-await--computer {
    height: 64px;
  }
  .game__variant-image {
    height: 36px;
  }
  .game__variant-image--rock-computer {
    height: 33px;
  }
}
